%%
%% Information for kublet
%
%%------------------------ applications to init start ----------------------
{init_apps,[{bully_election,"1.0.0"},
	    {sd,"1.0.0"},
	    {controller,"1.0.0"}]}.
%% ----------------------- Nodes to contact --------------------------------
{nodes_to_contact,['kublet@c100',
	           'kublet@c200',
		   'kublet@c201',
		   'kublet@c202',
		   'kublet@c203']}.

%% -----------------------Computers to start --------------------------------
{computers,[{"c100","192.168.0.100",22,"joq62","festum01"},
	    {"c200","192.168.0.200",22,"joq62","festum01"},	
	    {"c201","192.168.0.201",22,"joq62","festum01"},	  
	    {"c202","192.168.0.202",22,"joq62","festum01"},
	    {"c203","192.168.0.203",22,"pi","festum01"}]}.
%% -----------------------Dirs to keep --------------------------------
{dirs_to_keep,["logs"]}.

%%----------------------- service dir
{service_dir,"service_dir"}.

%%----------------------- service catalog
{service_catalog,[{dir,"service_catalog"},
		   {filename,"service.catalog"},
		   {git_path,"https://github.com/joq62/service_catalog.git"}]}.
