%%
%% Information for kublet
%
%%------------------------ applications to init start ----------------------
{auto_erl_controller_apps,[{bully,"1.0.0"},
			   {sd,"1.0.0"},
	    	           {controller,"1.0.0"}]}.

{non_auto_erl_controller_apps,[{bully,"1.0.0"},
				{sd,"1.0.0"},
	    	           	{controller,"1.0.0"}]}.

{auto_erl_worker_apps,[{sd,"1.0.0"}]}.
{non_auto_erl_worker_apps,[{sd,"1.0.0"}]}.


%% ----------------------- Hosts to contact --------------------------------
{hosts_to_contact,[{"c200",'kublet@c200'},
	           {"c201",'kublet@c201'},
		   {"c202",'kublet@c202'},
		   {"c203",'kublet@c203'}]}.


%% -----------------------host access information  --------------------------------
{host_info ,[{"c100","192.168.0.100",22,"joq62","festum01"},
	     {"c200","192.168.0.200",22,"joq62","festum01"},	
	     {"c201","192.168.0.201",22,"joq62","festum01"},	  
	     {"c202","192.168.0.202",22,"joq62","festum01"},
	     {"c203","192.168.0.203",22,"pi","festum01"}]}.

%% -----------------------host_Type --------------------------------
{host_type,[{"c100",'kublet@c100',non_auto_erl_worker},
	    {"c200",'kublet@c200',auto_erl_controller},	
	    {"c201",'kublet@c201',auto_erl_controller},	  
	    {"c202",'kublet@c202',auto_erl_worker},
	    {"c203",'kublet@c203',non_auto_erl_worker}]}.
%% -----------------------Dirs to keep --------------------------------
{dirs_to_keep,["logs"]}.

%%----------------------- service dir
{service_dir,"service_dir"}.

%%----------------------- service catalog
{service_catalog,[{dir,"service_catalog"},
		   {filename,"service.catalog"},
		   {git_path,"https://github.com/joq62/service_catalog.git"}]}.
